*{
    margin:0;
    padding:0;
}

body {
    background: white;
}

nav{ 
    display: flex;
    justify-content: space-around ;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(160, 160, 160, 0.952);
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: rgba(46, 38, 38, 0.795);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-align: end;
}
.menu  {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.menu{
    list-style: none;
}

.menu a {
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px ;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.intro {
    font-size: 1.5vw;
    display: block;
    text-align: left;
    width: 44vw;
    position: relative;
    left: 30%;
    top: -2vw;
    color: #62615D;
}