*{
    margin:0;
    padding:0;
}

body {
    background: white;
}

nav{ 
    display: flex;
    justify-content: space-around ;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(160, 160, 160, 0.952);

}

.logo {
    color: rgba(46, 38, 38, 0.795);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-align: end;
}
.menu  {
    display: flex;
    justify-content: space-around;
    width: 35%;
    list-style: none;
}

.menu a {
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px ;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.intro{ /*following code for the home page styling*/
    font-size: 48px;
    color: #62615D;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block-start: 7em;
    margin-block-end: 7em;
    margin-inline-start: 10em;
    margin-inline-end: 10em;


}

.skills { /* Following code for the skills page formatting*/
    font-size: 48px;
    color: #62615D;
    font-family: 'Roboto', sans-serif;
    word-spacing: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block-start: 7em;
    margin-block-end: 7em;
    margin-inline-start: 10em;
    margin-inline-end: 10em;


}

footer{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(160, 160, 160, 0.952);
    font-family: 'Roboto', sans-serif;
    position: fixed ;
    bottom: 0;
    width: 100%;
}

